*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}


/* #home-section-carrosel{
    width: 100vw;
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: aqua;
} */

.slider{
    width: 90vw;
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:#fff; 
}

.item{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border:  2solid black;
    /* box-shadow: 30px 20px 15px #f8f8f8; */

}

.slick-slide img{
    width: 200px;
    height: 220px;
}

.slick-slide{
    /* margin: 30px 15px; */
}

.slick-doots li button::before,
.slick-doots li.slick-active button:before{
    color: #fff;
}

.slick-doots li button:before{
    font-size: 15px;
}

.item-carrosel{
    box-sizing: border-box;
    background-color: aqua;
}

